:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown .ant-picker-content th {
    color: rgba(197, 94, 0, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown .ant-picker-content th,
:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown .ant-picker-content td {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.ant-picker-footer {
    display: none;
}

.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
    display: none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown .ant-picker-header-view {
    flex: none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-selected
    .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start
    .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end
    .ant-picker-cell-inner {
    background-color: #ffba7b;
    border-radius: 32px;
    color: white;
    border: none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border: none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-picker .ant-picker-suffix {
    color: rgba(255, 153, 60, 1);
}
